body{
    font-family:"Montserrat",sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
    margin-left: 1rem;
}
.sidebar{
    background-color: #000;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.5rem;


}
.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding:  0 1.5rem 0 1.5rem;
    



}
.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;

}

a{
    text-decoration: none;
    color: #fff;
}
.nav-bar{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}
.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
.nav-option:hover{
   
    opacity: 1;
}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left:1rem ;
}
.library{

    background-color: #121212;
    height: 100%;
    margin-top: 0.5rem;
    padding:0.5rem 0.75rem ;
    border-radius: 1rem;
    
}
.options{
     display: flex;
    justify-content: space-between;
    align-items: center;
}
.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}
.icons{
    display: flex;
    font-size: 1.25rem;
}

.icons i{
    margin-right: 1rem;
    opacity: 0.7;
}
.icons i:hover{
   
    opacity: 1;
}
.boxes{
    background-color: #232323;
    border-radius: 0.5rem;
    margin: 1.75rem 0 1.75rem 0;
    padding: 1rem 1.25rem;
    height: 8rem;
}
.box-p1{
    font-size: 1rem;
   font-weight: 500;
}
.box-p2{
    font-size: 0.75rem;
    opacity: 0.9;
}
.badge{
    border: none;
    border-radius: 100px;
    font-size: 1rem;
    height: 2rem;
    font-weight: 700;
    padding: 0.25rem 1rem;
    width: fit-content;
    margin-top: 0.5rem;
}
.dark-badge{
    background-color: #000;
    color: #fff;
}
.sticky-nav{
    position: sticky;
    top: 0px;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}
.sticky-nav-option{
    display: flex;
    justify-content: center;
    align-items: center;

}
.margin{
    margin-right: 1rem;}

@media(max-width:1000px){
    .hide{
        display: none;
    
}
}
.sticky-nav-icons{
    margin-left: 1rem;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
    
}
.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding:  1rem ;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.card-img{
    width: 100%;
    border-radius: 0.5rem;
    
}
.card-title{
    font-size: 1rem;
    font-weight: 600;
}
.card-info{
    font-size: 0.75rem;
    opacity: 0.8;
    line-height: 1.25rem;
}
.fotter{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    width: 90%;
    height: 50%;
    border-top: 0.5px solid white;  
    opacity: 0.2;


}
.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.album{
    width: 25%;
    display: flex;
   
    align-items: center;
}
.album-img{
    height: 4rem;
    width: 4rem;
    border-radius: 0.5rem;
}
.album-mar{
    margin-right: 1rem;
}
.album-icon{
    display: flex;
   font-size: 1rem;
   

}
.album-icons{
    margin-right: 1rem;

}











.song-player{
    width: 50%;
}
.song-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.song-player-icons{
    
   margin-right: 1.5rem;
    align-items: center;
    height: 1rem;
    opacity: 0.7;
}
.song-player-icons:hover{
    opacity: 1;
}
.progress-control{
    display: flex;
    justify-content: center;
    align-items: center;
}
.range{
    width: 70%;
    appearance: none;
    cursor: pointer;
    background-color: transparent;
}
.range::-webkit-slider-runnable-track{
    border-radius: 100px;
    background-color: #ddd;
    height: 0.2rem;
}
.range::-webkit-slider-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #1bd760;
    margin-top: -6px;


}
.controls{
    width: 25%;
}